<!-- /views/layouts/main.handlebars -->

<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>MyPrescritions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    

</head>
<body>
<nav class="navbar navbar-default  ">
   <div class="navbar-header">         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand"  href="/dashboard" aling="top"><img src="/img/MyPrescriptions.PNG" height="40" align="top"></a>
    </div>
     <div class="collapse navbar-collapse" id="myNavbar">
    
    <ul class="nav navbar-nav">
        {{#if login}}
      <li><a href="/dashboard">MyDashboard</a></li>
      <li><a href="/patientsList">MyPatients</a></li>
      <li><a href="/MyAccount">MyAccount</a></li>
      
      {{else}}
      
    {{/if}}
    </ul>
     <ul class="nav navbar-nav navbar-right">
          {{#if login}}
        <li><a href="/Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {{else}}
        <li><a href="/doctors"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/doctorsLogin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {{/if}}
      </ul>
    </div>
  </div>
  
</nav>
  
<div class="container">
  
      {{{body}}}

</div>
</div>
</body>
</html>
