<!-- views/menuMedicos.handlebars -->
<br>
<div class="row">
  <div class="col-sm-12">
    <div class="text-center">
    <h3>{{msg}}
</h3> </div>
     </div>
      </div>

<div class="row">
  <div class="col-sm-6">
    <a href="/patientsList">
      <div class="card text-center options border-0 bg-light">
        <h2>My Patient's List</h2>
        <p>Consult your patients list</p>
      </div>
    </a>

  </div>
  <div class="col-sm-6">
    <a href="/newpatient">
      <div class="card text-center options  border-0 bg-light">
        <h2>Register New Patient</h2>
        <p>Add a new patient</p>
      </div>
    </a>

  </div>
</div>

<!-- Dentro de la lista de editar paciente, también que tenga un botón para crear la receta.
Editar Paciente. Editar datos de un solo paciente. Botón para enviar a esa forma.-->
<!--Botón para dar de alta-->



<!-- <script src="/js/index.js"></script> -->